/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Mukta:wght@200;300;400;500;600;700;800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility classes */

body {

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
}

h2 {
    font-weight: 500;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;

}

.flex {
    display: flex;
    align-items: center;
}
.container{
    margin: 0 3rem;
}

/* nav bar */
nav {
    margin: 0 5rem;
    height: 5.5em;
    justify-content: space-between;
}

.menu {
    display: none;
}

nav a {
    color: #000000;
}

nav a:hover {
    color: #b58b28;
}

.icons {
    font-size: 1.2rem;
    gap: 2em;
}

ul {
    margin-right: -5em;
    gap: 4em;
    font-weight: 600;
}

/* hero section */
.hero-section {
    position: relative;
}

.hero-section img {
    height: 18rem;
    width: 100%;
}

.hero-text {
    position: absolute;
    top: 6rem;
    left: 35rem;
    flex-direction: column;
}

.hero-text h1 {
    font-size: 3rem;
}

.hero-text p {
    font-size: 1.5rem;
}

/* main blog section */
.main-blog-section {
    align-items: flex-start;
    margin-top: 5rem;
    justify-content: center;
    gap: 4rem;
}

/* blog aside section */
.blog-aside {
    width: 55%;
}

.blog-img img {
    border-radius: 10px;
    width: 100%;
}

.sort-info {
    gap: 1rem;
}

.info {
    margin: 0.5rem;
    color: #676767;
    gap: 0.5rem;
}

.minimal-design-text p {
    text-align: justify;
    font-weight: 500;
    margin-top: 0.5rem;
    color: #676767;
}

.minimal-design-text h3 {
    display: inline-block;
    margin: 2rem 0 3rem 0;
    font-weight: 500;
    border-bottom: 2px solid;

}

/* blog aside-2 section */
.blog-aside-2 {
    flex-direction: column;
}

/* search-bar  */
.aside-2-search input {
    position: relative;
    padding: 0.7rem;
    width: 17rem;
    height: 3.5rem;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
}

.aside-2-search-i {
    position: absolute;
    top: 29.8rem;
    right: 5.3rem;
    font-size: 1.4rem;
}

/* categories section */
.categories-section {
    margin-top: 2rem;
    flex-direction: column;
}

.categories-items {
    margin-top: 2rem;
    gap: 2rem;
    flex-direction: column;
}

.items {
    font-weight: 500;
    color: #ababab;
    gap: 10rem;
}

.handmade :first-child {
    font-size: 0.8rem;
}

/* recent post section */
.recent-posts-section {
    margin-top: 7.5rem;
}

.recent-post-items {
    margin-top: 2rem;
    gap: 2rem;
    flex-direction: column;
}

.post-items {
    gap: 1rem;
}

.lighter {
    font-weight: 500;
    color: #ababab;
    gap: 1rem;
}

.post-img {
    width: 5rem;
    height: 5rem;
}

.post-img img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.post-text {
    width: 9rem;
}

.post-text p {
    font-size: 0.9rem;
    font-weight: 500;
}













/* services section */
.services-section {
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #faf3ea;
    height: 15rem;
}

.services-img img {
    height: 3.5rem;
}

.services-text h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

.services-text p {
    font-weight: 400;
    color: #464646;
}

/* semi-footer  */

.semi-footer {
    padding: 3rem;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 2rem;
    border-top: 2px solid #dbdbdb;
    width: 100%;
    flex-wrap: wrap;
}

.semi-footer a:hover {
    color: var(--big-font-color);
    border-bottom: 2px solid var(--big-font-color);

}

.semi-footer a {
    color: #000000;
    font-weight: 600;
}

.light-heding {
    color: #464646;
}

.Funiro-address {
    width: 20rem;
}

.Funiro-address h2 {
    margin-bottom: 3rem;
}

.links {
    flex-direction: column;
    gap: 2rem;
}

.Help {
    flex-direction: column;
    gap: 2rem;
}

.newsletter {
    flex-direction: column;
    gap: 2rem;
}

.footer-inputs {
    flex-wrap: wrap;
    gap: 20px;
}

.footer-inputs input {
    height: 1.6rem;
    border: none;
    border-bottom: 2px solid;

}

.footer-inputs p {
    border-bottom: 2px solid;
}

/* main footer */

.main-footer {
    border-top: 2px solid #dbdbdb;
    padding: 30px 0;
    margin-left: 3rem;
    width: 85%;
}